@font-face {
    font-family: 'Quentin';
    src: url('./../fonts/Quentin.woff2') format('woff2'),
        url('./../fonts/Quentin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
